<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My flights bookmark</title>
    <meta property="og:title" content="내 항공권"/>
    <meta property="og:description" content="관심 항공권 정보"/>
    <meta property="og:image" content="{{ url_for('static', filename='') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'East Sea Dokdo', cursive;
        }

        .cards-box {
            margin: 30px auto auto 30px;
        }
    </style>

    <script>
        function add_flight() {
            $.ajax({
                type: "GET",
                url: `/api/add_flight`,
                data: {},
                success: function (response) {
                    let articles = response['all_articles']

                    for (let i = 0; i < articles.length; i++) {
                        let dep_date = articles[i]['start_day']
                        let arr_date = articles[i]['end_day']
                        let current_loc = articles[i]['go_want']
                        let destination = articles[i]['go_desti']

                        let temp_html = `<div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../static/worldmap.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">${current_loc} ✈ ${destination}</h5>
                                            <p class="card-text">${dep_date} ~ ${arr_date}</p>
                                            <a href="#" class="btn btn-primary">상세정보</a>
                                            <button type="button" onclick="delete_flight()" class="btn btn-secondary">삭제</button>
                                        </div>
                                        </div>`

                        $('#cards-box').append(temp_html)

                    }
                }
            })
        }

        function delete_flight() {
            let go_want = '서울'

            $.ajax({
                type: "POST",
                url: `/api/delete_flight`,
                data: {
                    go_want_give: go_want
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = '/detail'
                }
            });
        }

    </script>
</head>
<body>
<div class="cards-box" id="cards-box">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../static/barcelona.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">서울 ✈ 바르셀로나</h5>
            <p class="card-text">10월 15일 - 10월 20일</p>
            <a href="#" class="btn btn-primary">상세정보</a>
            <button type="button" onclick="delete_flight()" class="btn btn-secondary">삭제</button>
        </div>
    </div>
</div>

</body>
</html>